<div class="card">
  <h5 class="card-header">
    {{ author.name }}, {{ author.title }}
  </h5>
  <div class="card-body">
    <p class="card-text"><canvas #canvasEl height="30px"></canvas></p>
    <p class="card-text"><a href="http://www.chenzxlab.cn">Chen Lab</a></p>
    <p>Hubei Hongshan Laboratory, College of Biomedicine and Health, Huazhong Agricultural University, Wuhan 430070, PR China</p>
    <p>Hubei Key Laboratory of Agricultural Bioinformatics, College of Life Science and Technology, Huazhong Agricultural University, Wuhan 430070, PR China</p>
  </div>
</div>
