<div fxLayout="column" fxLayoutGap="10px">
  <div>
    <h1 class="page-header" style="margin-top: 30px">typical enhancer</h1>
  </div>
  <div fxFlex="grow" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
    <app-typical-gene mat-card (genesearch)="changegene($event)" fxFlex="50%" style="max-height: 100%"  appMaterialElevation defaultElevation="4" raisedElevation="4"></app-typical-gene>
    <app-typical-region mat-card (regionsearch)="changeregion($event)" fxFlex="50%" style="max-height: 100%"  appMaterialElevation defaultElevation="4" raisedElevation="4"></app-typical-region>
  </div>
  <app-typical-result *ngIf="showtable" [cancer]="cancer" [source]="source" [query]="query" [chr]="chr" [end]="end" [start]="start"></app-typical-result>
</div>

