<footer style="margin-top: 32px">
<div class="container">
  <mat-divider></mat-divider>
  <div id="footer" class="text-center" style="margin-top: 10px">
    <p>
        <strong>Copyright &copy;</strong>
        <a href="http://www.chenzxlab.cn" target="_blank">Chen Lab</a>,
        <a href="http://lst.hzau.edu.cn/" target="_blank">College of Life Science and Technology</a> ,
        <a href="http://www.hzau.edu.cn" target="_blank">HZAU</a>,
        China.
    </p>
    <p>
        Any comments and suggestions, please <a routerLink="/contact" target="blank">contact us</a>
    </p>
    <p><a href="http://www.beian.miit.gov.cn" target="blank">鄂ICP备19017097号</a></p>
  </div>
</div>
</footer>
